<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	<link rel="icon" href="weather.png">
	<title>About</title>
</head>
<body>
<header>{{>header}}</header>
<div style="text-align:center;">
<img src="me.jpg">
<p style="margin-top:0px;">ANKUR JARIAL(B.Tech in Computer Science)</p>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<footer>{{>footer}}</footer>
</body>
</html>