<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	<link rel="icon" href="weather.png">
	<title></title>
</head>
<body class="body1">
<header>{{>header}}</header>
<p style="text-align:center;">This is some helpful  text</p>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<footer>{{>footer}}</footer>
</body>
</html>